<div class="transaction-edit-component">
    <h1>Edit this transaction</h1>
    <div class="form">
        <form >
            <input [(ngModel)]="txname" id="name" name="name" placeholder="Transaction name" type="text">
            <input [(ngModel)]="txvalue" id="value" name="value" placeholder="transaction value" type="number">
            <input [(ngModel)]="txdate" id="value" id="date" name="date" type="datetime-local">
            <button (click)="edditTransaction()" type="submit">Edit</button>
            <button (click)="deleteTransaction()" type="submit">delete</button>
        </form>

    </div>
</div>