@import "../../styles.scss";

.dashboard-page {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color:$primary-color;

  h1 {
    text-align: center;
    color: $text-color;
    
  }

  .dashboard-content {
    display: flex;
    .in,
    .out,
    .balance {
      color: $text-color;
      width: 25rem;
      text-align: center;
      border: solid 1px $secondary-color;
    }

    .in {
      
    }

    .out {
     
    }

    .balance {
      
    }
  }

  .button {
    
    // button{
      
    //   height: 2rem;
    //   color: $text-color;
    //   border-color: $secondary-color;
    //   background-color: $primary-color;
    //   border-radius: 0.5rem;
    //   font-size: 1rem;
    // }
  }
}
